:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray: hsl(0, 0%, 95%);
    --FontSize: 15px;
    --bigshoulderDisplay: 
    --lexendDeca: 'Lexend Deca', sans-serif;
    --bigShoulderDisplay: 'Big Shoulders Display', cursive;
}
.blue-color {
    color: var(--DarkCyan);
}
.teal-color {
    color: var(--VeryDarkCyan);
}

html::before, html::after, html {
    padding: 0;
    margin: 0;
}
body {
    padding: 60px;
    background-color: var(--VeryLightGray);
    font-family: 'Lexend Deca', sans-serif;
}
h1 {
    font-weight: 400;
    letter-spacing: -4px;
    color: white;
}
p {
    font-size: .8125rem;
    text-align: left;
    line-height: 1.8;
}

.container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    height: 75vh;
    width: 70vw;
    margin: 0 auto;
    border: none;
    color: var(--TransparentWhite);
    max-width: 70vw;
    min-width: 70vw;
}

/*orange-div*/
.container .orange-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    background-color: var(--BrightOrange);
    border-radius: 5px 0 0 5px;
    padding: 2.5rem;
}
 button {
    display: inline-block;
    width: 70%;
    color: var(--BrightOrange);
    border: none;
    border-radius: 19px;
    padding: 12px;
    margin-top: 2.5rem;
    font-weight: 600;
}



/*blue-div*/
.container .blue-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    background-color: var(--DarkCyan);
    padding: 2.5rem;
}

/*teal-div*/


.container .teal-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    background-color: var(--VeryDarkCyan);
    border-radius: 0 5px 5px 0;
    padding: 2.5rem;
}

@media only screen and (max-width: 800px) {
    body {
        margin: 0;
        padding: 0;
        
    }
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        height: 100%;
        padding: 1.5rem;
          }
    .container .orange-div {
            height: 100vh;
            width: 100%;
    }
    .container .blue-div {
        height: 100vh;
        width: 100%;
    }
    .container .teal-div {
    height: 100vh;
    width: 100%;
    }
}